.checkoutProduct {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    background: #F7F7FF;
    color: black;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}